#movies-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #movies-table th, #movies-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  #movies-table th {
    background-color: black;
  }
  